<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>llama-ectomy</string>
	<string>llama-scopy</string>
	<string>llama-plasty</string>
	<string>spiced capuchin</string>
	<string>spiced burmese</string>
	<string>spiced macaw</string>
	<string>BLUE</string>
	<string>GREEN</string>
	<string>YELLOW</string>
	<string>Mantine</string>
	<string>Gyarados</string>
	<string>Koffing</string>
	<string>Your mom&apos;s face</string>
	<string>Your dog&apos;s tail</string>
	<string>Your hamster&apos;s foot</string>
	<string>koobecaf</string>
	<string>margratsni</string>
	<string>thacpans</string>
	<string>Diego (the umbrella academy)</string>
	<string>A stormtrooper</string>
	<string>Clumsy Smurf</string>
	<string>mermaid hair</string>
	<string>phoenix feathers</string>
	<string>dragon hearstring</string>
	<string>What is your favorite color?</string>
	<string>What is your favorite weapon?</string>
	<string>What is the name of your horse?</string>
	<string>Inigo Montoya</string>
	<string>Mr. Smith</string>
	<string>Clint Eastwood</string>
	<string>42</string>
	<string>What was the question?</string>
	<string>pudding</string>
	<string>11 meters per second</string>
	<string>African or European?</string>
	<string>20 miles per hour</string>
	<string>Tails</string>
	<string>Vanilla</string>
	<string>Heads</string>
	<string>They&apos;re</string>
	<string>There</string>
	<string>Their</string>
	<string>red</string>
	<string>pink</string>
	<string>blue</string>
	<string>It still only counts as 1</string>
	<string>Depends on the number of crew</string>
	<string>At least 20</string>
	<string>12</string>
	<string>14</string>
	<string>10</string>
	<string>The Slitheen</string>
	<string>Ood</string>
	<string>Sycorax</string>
	<string>pretty floral bonnet</string>
	<string>blood of my father</string>
	<string>first born</string>
</array>
</plist>
