<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Medically speaking, what term would be used to imply you are going to have a llama removed from your body?</string>
	<string>If a can of SPAM contains spiced ham, what would you expect to find in a can of SPUNKY?</string>
	<string>Select the color BLUE</string>
	<string>If Steve Irwin was a pokemon trainer, what pokemon should he avoid?</string>
	<string>Where would you find a sella turcica?</string>
	<string>Pick the correct backwards spelling of a popular social media platform.</string>
	<string>You are strapped to a spinning wheel and someone has to throw knives at you, who do you pick?</string>
	<string>What would you not find inside a wand from Ollivander?</string>
	<string>What is your name? What is your quest?</string>
	<string>Hello. My name is - you killled my father. Prepare to die.</string>
	<string>What is the answer, Deep Thought?</string>
	<string>What is the air speed velocity of an unladen swallow?</string>
	<string>Heads or Tails?</string>
	<string>-blank- going to write some code together today.</string>
	<string>Click on red</string>
	<string>You killed an oliphant and its entire crew, how many kills does it count as?</string>
	<string>How many parsecs did it take the Millennium Falcon to completed the Kessel Run?</string>
	<string>What ailen species come from Raxacoricofallapatorius?</string>
	<string>&quot;I swear by my .... I will end you.&quot;</string>
</array>
</plist>
